.auth {
  float: right;
}

.button {
  display: inline;
	background-color:rgb(151, 173, 255);
	border:1px solid rgb(151, 173, 255);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:11px 21px;
	text-decoration:none;
}
.button:hover {
	background-color:rgb(0, 0, 255);
	border: 1px solid rgb(0, 0, 255);
}
.button:active {
	position:relative;
	top:1px;
}